@using CadastroDeContatos.Models.ViewModels
@model IEnumerable<CadastroDeContatos.Models.ViewModels.ContatoViewModel>

@{
    ViewData["Title"] = "Lista de Contatos";
}

<h1>@ViewData["Title"]</h1>

<!-- Formulário de pesquisa -->
<form method="get" asp-action="Index">
    <div class="form-group">
        <label for="searchNome">Nome</label>
        <input type="text" id="searchNome" name="searchNome" class="form-control" value="@ViewData["CurrentNomeFilter"]" />
    </div>
    <div class="form-group">
        <label for="searchCPF">CPF</label>
        <input type="text" id="searchCPF" name="searchCPF" class="form-control" value="@ViewData["CurrentCPFFilter"]" />
    </div>
    <button type="submit" class="btn btn-primary">Filtrar</button>
</form>

<!-- Tabela de contatos -->
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Telefone</th>
            <th>Cidade</th>
            <th>Logradouro</th>
            <th>Bairro</th>
            <th>CEP</th>
            <th>Email</th> <!-- Nova coluna de E-mail -->
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contato in Model)
        {
            <tr>
                <td>@contato.Nome</td>
                <td>@contato.CPF</td>
                <td>@contato.Telefone</td>
                <td>@contato.Cidade</td>
                <td>@contato.Logradouro</td>
                <td>@contato.Bairro</td>
                <td>@contato.Cep</td>
                <td>@contato.Email</td> <!-- Exibindo o E-mail -->
                <td>
                    <a asp-action="Edit" asp-route-id="@contato.Id" class="btn btn-warning">Editar</a>
                    <a asp-action="Delete" asp-route-id="@contato.Id" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Adicionar um novo contato -->
<div>
    <a asp-action="Create" class="btn btn-success">Adicionar Novo Contato</a>
</div>
